<a href="https://colab.research.google.com/github/cesarcalafrioli/PYTHON_ANOTACOES/blob/main/collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTA

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

In [3]:
# Lista
idades = [39, 30, 27, 18]

In [ ]:
# Informa a classe
type(idades)

In [ ]:
# NÃºmero de elementos na lista
len(idades)

In [ ]:
# Imprime o primeiro elemento
idades[0]

In [ ]:
# Imprime tudo
idades

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

In [8]:
# Adicionar item ao fim da lista
idades.append(15)

In [ ]:
idades

In [ ]:
# Informa o 5 elemento da lista
idades[4]

In [11]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [12]:
# Removendo um elemento da lista
idades.remove(30)

In [13]:
idades

[39, 27, 18, 15]