<a href="https://colab.research.google.com/github/cesarcalafrioli/PYTHON_ANOTACOES/blob/main/collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTA

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

In [ ]:
# Lista
idades = [39, 30, 27, 18]

In [ ]:
# Informa a classe
type(idades)

In [ ]:
# Número de elementos na lista
len(idades)

In [ ]:
# Imprime o primeiro elemento
idades[0]

In [ ]:
# Imprime tudo
idades

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

In [ ]:
# Adicionar item ao fim da lista
idades.append(15)

In [ ]:
idades

In [ ]:
# Informa o 5 elemento da lista
idades[4]

In [ ]:
for idade in idades:
  print(idade)

In [ ]:
# Removendo um elemento da lista
idades.remove(30)

In [ ]:
idades.append(27) # Adiciona um elemento ao fim da lista
idades.remove(27) # Remove o primeiro elemento da lista que tenha o valor 27
idades

In [ ]:
28 in idades

In [ ]:
15 in idades

True

In [ ]:
# Remove o elemento de valor 15 na lista
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 18, 27]

In [ ]:
# Removendo elemento de valor 28 na lista
if 28 in idades:
  idades.remove(28)

In [ ]:
# como o valor 28 nao tem na lista, não houve remoção alguma
idades

[39, 18, 27]

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
# Inserindo elemento de valor 20 como o primeiro da lista
idades.insert(0, 20)
idades

In [ ]:
idades.append([27,19])

In [ ]:
idades

[20, 39, 18, 27, 19, [27, 19]]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento 27
Recebi o elemento 19
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade+1)

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

# LIST COMPREHENSION

In [ ]:
[(idade+1) for idade in idades]

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

# OBJETOS PRÓPRIOS

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0<<]

In [ ]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 Saldo 500<<]

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

In [ ]:
contas = [conta_do_gui, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x7b227fa391e0>, <__main__.ContaCorrente object at 0x7b227fa39000>]

In [ ]:
for conta in contas:
  print(conta)

In [ ]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [ ]:
print(contas[0])

[>>Codigo 15 Saldo 500<<]

In [ ]:
conta_do_gui.deposita(100)

In [ ]:
print(contas[0])

[>>Codigo 15 Saldo 600<<]

In [ ]:
print(conta_do_gui)

[>>Codigo 15 Saldo 600<<]

In [ ]:
print(contas[2])

[>>Codigo 15 Saldo 600<<]

In [ ]:
contas[2].deposita(300)

In [ ]:
print(conta_do_gui)

[>>Codigo 15 Saldo 900<<]

# TUPLAS

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

In [ ]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2]) # Vai dar erro

In [ ]:
# Tupla
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [ ]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # Variação OO

def deposita(conta): # Variação funcional
  conta[1]

conta_do_gui[1]

In [ ]:
def deposita(conta): # Variação funcional
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

In [ ]:
conta_do_gui

(15, 1000)

In [ ]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [ ]:
(15,30,200,150,200)

(15, 30, 200, 150, 200)

In [ ]:
usuarios = [guilherme, daniela] # lista de tuplas
usuarios

In [ ]:
usuarios.append(('Paulo', 39, 1979))

In [ ]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
usuarios[0][0] = 'Guilherme Silveira' # Não é possível alterar um valor de uma tupla

TypeError: ignored

In [ ]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 234876 Saldo 1000<<]

In [ ]:
contas.append(423768) # Não existe função append em tupla

AttributeError: ignored

In [ ]:
contas[0].deposita(300) # Pode modificar, mas não pode remover nem dicionar na tupla.

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 1100<<]
[>>Codigo 234876 Saldo 1000<<]

# LISTAS

# HERANÇAS E POLIMORFISMO

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    #raise NotImplementedError
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

[>>Codigo 88 Saldo 0<<]

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(16)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing

## Array padrão - EVITE USAR

In [ ]:
import array as arr

arr. array('d', [1, 3.5])

In [ ]:
arr. array('d', [1, 3.5], 'teste') # Não funciona

## Numpy - É costume usarmos o numpy para trabalhar com números.

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta1 == conta2 # São objetos distintos na memória

False

In [ ]:
contas = [conta1]

conta1 in contas

True

In [ ]:
conta2 in contas

False

In [ ]:
# Com o def __eq__(), a comparação agora retorna True
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1.deposita(10)
print(conta1)
print(conta2)

[>>Codigo 37 Saldo 30<<]
[>>Codigo 37 Saldo 0<<]

In [ ]:
conta1 == conta2 # Como foi adicionado um valor a mais na conta1, não faz sentido isso aqui retornar True

True

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

conta1 == conta2

False

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta)

True

# Enumerate

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for idade in idades:
  print(idade)

In [ ]:
range(len(idades))

range(0, 8)

In [ ]:
for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [ ]:
range(len(idades)) # lazy...

range(0, 8)

In [ ]:
enumerate(idades) # lazy

In [ ]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
list(range(len(idades))) #Forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [ ]:
for valor in enumerate(idades):
  print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [ ]:
for indice, idade in enumerate(idades):
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [ ]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31,1987),
    ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: # Já desempacotando. Essa parte é mais legível e permite uso futuro de outras variáveis ( como nome ou nascimento )
  print(nome)

Guilherme
Daniela
Paulo

In [ ]:
for nome, _, _ in usuarios: # Já desempacotando mas ignorando o resto ( usando underline )
  print(nome)

Guilherme
Daniela
Paulo

# Ordenação básica

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
15 < 32

True

In [ ]:
list(reversed(idades)) # De trás para frente

[37, 49, 32, 56, 65, 32, 87, 15]

In [ ]:
sorted(idades, reverse=True) # Ordem decrescente. Aviso: Usando a função sorted(), a lista original é mantida. O mesmo não acontece com a função .sort()

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
list(reversed(sorted(idades))) # Não usar se for fazer na medida do necessário por algum motivo, pois o reversed é preguiçoso.

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
idades.sort()

In [ ]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

# Ordenação de objetos sem ordem natural

In [ ]:
15 < 32

True

In [ ]:
nomes = ["Guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
sorted(contas)

TypeError: ignored

In [ ]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [ ]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
# Implementando o __lt__
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme < conta_da_daniela

True

In [ ]:
conta_do_guilherme > conta_da_daniela

False

# Ordenação completa

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 1700 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 1700 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
conta_do_guilherme > conta_da_daniela

True

In [ ]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme <= conta_da_daniela

False

In [ ]:
conta_do_guilherme <= conta_do_paulo

True

In [ ]:
conta_do_guilherme == conta_do_guilherme

True

In [ ]:
conta_do_guilherme == conta_do_paulo

False

# SETS

In [ ]:
usuarios_data_science = [15, 23, 43, 56]
usuarios_machine_learning = [13, 23, 56, 42]

In [ ]:
assistiram = []
assistiram.extend(usuarios_data_science)
assistiram

[15, 23, 43, 56]

In [ ]:
assistiram = []
assistiram = usuarios_data_science.copy() # Cópia rasa
assistiram.extend(usuarios_machine_learning)
assistiram

[15, 23, 43, 56, 13, 23, 56, 42]

In [ ]:
len(assistiram)

8

In [ ]:
# Com o conjunto, não tem elementos repetidos
set(assistiram)

{13, 15, 23, 42, 43, 56}

In [ ]:
set([1, 2, 3, 1])

{1, 2, 3}

In [ ]:
{4, 1, 2, 3} # A notação para criar um conjunto simples é a chave ( {} )

{1, 2, 3, 4}

In [ ]:
type({1, 2})

set

In [ ]:
type({1, 2})

set

In [ ]:
usuarios_data_science = {15, 23, 43, 56}
usuarios_machine_learning = {13, 23, 56, 42}

In [ ]:
usuarios_machine_learning # Usando chaves, o resultado é exibido em ordem crescente

{13, 23, 42, 56}

In [ ]:
# Só use chaves se a posição não importar. Pois não há ordem em conjuntos ( por padrão )
usuarios_data_science[2]

TypeError: ignored

In [ ]:
for usuario in set(assistiram):
    print(usuario)

42
43
13
15
23
56

In [ ]:
usuarios_data_science | usuarios_machine_learning

{13, 15, 23, 42, 43, 56}

In [ ]:
usuarios_data_science & usuarios_machine_learning

{23, 56}

In [ ]:
usuarios_data_science ^ usuarios_machine_learning # ou exclusivo

{13, 15, 42, 43}

In [ ]:
usuarios_data_science - usuarios_machine_learning

{15, 43}

In [ ]:
fez_ds_mas_nao_fez_ml = usuarios_data_science - usuarios_machine_learning
15 in fez_ds_mas_nao_fez_ml

True

In [32]:
# podemos modificar o conjunto em tempoo real
usuarios = {1,5,76,34,52,13,17}
len(usuarios)

7

In [33]:
usuarios

{1, 5, 13, 17, 34, 52, 76}

In [34]:
usuarios = frozenset(usuarios)
usuarios

frozenset({1, 5, 13, 17, 34, 52, 76})

In [35]:
type(usuarios)

frozenset

In [36]:
usuarios.add(134) # Não tem como adicionar, por se tratar de um frozenset

AttributeError: ignored

In [39]:
meu_texto = "Bem vindo meu nome é César eu gosto muito de nomes e tenho o meu xbox e gosto muito de xbox"
meu_texto.split(" ")

['Bem',
 'vindo',
 'meu',
 'nome',
 'é',
 'César',
 'eu',
 'gosto',
 'muito',
 'de',
 'nomes',
 'e',
 'tenho',
 'o',
 'meu',
 'xbox',
 'e',
 'gosto',
 'muito',
 'de',
 'xbox']

In [ ]:
set(meu_texto.split(" "))