<a href="https://colab.research.google.com/github/cesarcalafrioli/PYTHON_ANOTACOES/blob/main/collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTA

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

In [ ]:
# Lista
idades = [39, 30, 27, 18]

In [ ]:
# Informa a classe
type(idades)

In [ ]:
# Número de elementos na lista
len(idades)

In [ ]:
# Imprime o primeiro elemento
idades[0]

In [ ]:
# Imprime tudo
idades

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

In [ ]:
# Adicionar item ao fim da lista
idades.append(15)

In [ ]:
idades

In [ ]:
# Informa o 5 elemento da lista
idades[4]

In [ ]:
for idade in idades:
  print(idade)

In [ ]:
# Removendo um elemento da lista
idades.remove(30)

In [ ]:
idades.append(27) # Adiciona um elemento ao fim da lista
idades.remove(27) # Remove o primeiro elemento da lista que tenha o valor 27
idades

In [ ]:
28 in idades

In [ ]:
15 in idades

True

In [ ]:
# Remove o elemento de valor 15 na lista
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 18, 27]

In [ ]:
# Removendo elemento de valor 28 na lista
if 28 in idades:
  idades.remove(28)

In [ ]:
# como o valor 28 nao tem na lista, não houve remoção alguma
idades

[39, 18, 27]

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
# Inserindo elemento de valor 20 como o primeiro da lista
idades.insert(0, 20)
idades

In [ ]:
idades.append([27,19])

In [ ]:
idades

[20, 39, 18, 27, 19, [27, 19]]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento 27
Recebi o elemento 19
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade+1)

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

# LIST COMPREHENSION

In [ ]:
[(idade+1) for idade in idades]

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

In [40]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [41]:
faz_processamento_de_visualizacao()

0
[]

In [42]:
faz_processamento_de_visualizacao()

1
[13]

In [43]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [44]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [45]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [46]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

# OBJETOS PRÓPRIOS

In [48]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [49]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0<<]

In [50]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 Saldo 500<<]

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

In [52]:
contas = [conta_do_gui, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x7b227fa391e0>, <__main__.ContaCorrente object at 0x7b227fa39000>]

In [ ]:
for conta in contas:
  print(conta)

In [54]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [55]:
print(contas[0])

[>>Codigo 15 Saldo 500<<]

In [56]:
conta_do_gui.deposita(100)

In [57]:
print(contas[0])

[>>Codigo 15 Saldo 600<<]

In [58]:
print(conta_do_gui)

[>>Codigo 15 Saldo 600<<]

In [59]:
print(contas[2])

[>>Codigo 15 Saldo 600<<]

In [60]:
contas[2].deposita(300)

In [61]:
print(conta_do_gui)

[>>Codigo 15 Saldo 900<<]

# TUPLAS

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

In [ ]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2]) # Vai dar erro

In [70]:
# Tupla
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [ ]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # Variação OO

def deposita(conta): # Variação funcional
  conta[1]

conta_do_gui[1]

In [73]:
def deposita(conta): # Variação funcional
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

In [75]:
conta_do_gui

(15, 1000)

In [76]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [77]:
(15,30,200,150,200)

(15, 30, 200, 150, 200)

In [ ]:
usuarios = [guilherme, daniela] # lista de tuplas
usuarios

In [80]:
usuarios.append(('Paulo', 39, 1979))

In [81]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [82]:
usuarios[0][0] = 'Guilherme Silveira' # Não é possível alterar um valor de uma tupla

TypeError: ignored

In [85]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [87]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 234876 Saldo 1000<<]

In [88]:
contas.append(423768) # Não existe função append em tupla

AttributeError: ignored

In [92]:
contas[0].deposita(300) # Pode modificar, mas não pode remover nem dicionar na tupla.

In [94]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 1100<<]
[>>Codigo 234876 Saldo 1000<<]