<a href="https://colab.research.google.com/github/cesarcalafrioli/PYTHON_ANOTACOES/blob/main/collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTA

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

In [ ]:
# Lista
idades = [39, 30, 27, 18]

In [ ]:
# Informa a classe
type(idades)

In [ ]:
# Número de elementos na lista
len(idades)

In [ ]:
# Imprime o primeiro elemento
idades[0]

In [ ]:
# Imprime tudo
idades

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

In [ ]:
# Adicionar item ao fim da lista
idades.append(15)

In [ ]:
idades

In [ ]:
# Informa o 5 elemento da lista
idades[4]

In [ ]:
for idade in idades:
  print(idade)

In [ ]:
# Removendo um elemento da lista
idades.remove(30)

In [ ]:
idades.append(27) # Adiciona um elemento ao fim da lista
idades.remove(27) # Remove o primeiro elemento da lista que tenha o valor 27
idades

In [ ]:
28 in idades

In [ ]:
15 in idades

True

In [ ]:
# Remove o elemento de valor 15 na lista
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 18, 27]

In [ ]:
# Removendo elemento de valor 28 na lista
if 28 in idades:
  idades.remove(28)

In [ ]:
# como o valor 28 nao tem na lista, não houve remoção alguma
idades

[39, 18, 27]

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
# Inserindo elemento de valor 20 como o primeiro da lista
idades.insert(0, 20)
idades

In [ ]:
idades.append([27,19])

In [ ]:
idades

[20, 39, 18, 27, 19, [27, 19]]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento 27
Recebi o elemento 19
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade+1)

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

# LIST COMPREHENSION

In [ ]:
[(idade+1) for idade in idades]

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades